<app-game-list-filter></app-game-list-filter>

<div class="card1">
    <div class="container">
        <h1 id="title"><b>Dwarf fortress</b></h1>
        <p>- {{ gameType }} -</p>
        <h3 id="gameMark">Note : {{ gameMark }} /10</h3>
        <img src="https://steamcdn-a.akamaihd.net/steam/apps/975370/header.jpg?t=1572362071" alt="Dwarf fortress">
        
        <p class="text">{{ gameDescription }}</p>
    </div>
</div>

<div class="card2">
        <div class="container">
            <h1 id="title"><b>Dwarf fortress</b></h1>
            <p>- {{ gameType }} -</p>
            <h3 id="gameMark">Note : {{ gameMark }} /10</h3>
            <img src="https://steamcdn-a.akamaihd.net/steam/apps/975370/header.jpg?t=1572362071" alt="Dwarf fortress">
            
            <p class="text">{{ gameDescription }}</p>
        </div>
</div> 
